confluent_cloud_api_key    = "pk-XXXXXXXXXXXXXXXX"
confluent_cloud_api_secret = "XXXXXXXXXXXXXXXXXXXX"

environment_name           = "flink-env"

cloud_provider             = "AWS"
cloud_region               = "eu-west-1"

kafka_cluster_name         = "prod-kafka-cluster"
flink_compute_pool_name    = "prod-flink-compute-pool"
flink_max_cfu              = 10
prefix                     = "x"
topic_name                 = "confluent-audit-log-events"


# Enable Audit Logs Cluster Linking
enable_audit_logs_cl = true
audit_log_environment_id = "env-xxxxx"
audit_log_cluster_id     = "lkc-xxxxx"
audit_log_api_key        = "your-audit-log-api-key"
audit_log_api_secret     = "your-audit-log-api-secret"

+-----------------+----------------------------+
| Cluster         | lkc-nvoko2k                |
| Environment     | env-ovk5qp                 |
| Service Account | sa-099mmdp                 |
| Topic Name      | confluent-audit-log-events |
+-----------------+----------------------------+

confluent api-key --service-account sa-099mmdp create --resource lkc-nvoko2k                                             1 err  system node
It may take a couple of minutes for the API key to be ready.
Save the API key and secret. The secret is not retrievable later.
+------------+------------------------------------------------------------------+
| API Key    | CIAC4UR4S43IEXCH                                                 |
| API Secret | cfltlXTFbEf1PvUvGIH0fsopjct9zSsievQ5OnK4O9o6ELAtYyszLZWYetm3RvVg |
+------------+------------------------------------------------------------------+